@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Montserrat, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 5%;
    --foreground: 0 0% 100%;
    --card: 0 0% 10%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 100%;
    --primary: 44 97% 52%;
    --primary-foreground: 221 39% 11%;
    --secondary: 0 0% 16%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 16%;
    --muted-foreground: 0 0% 80%;
    --accent: 44 97% 52%;
    --accent-foreground: 221 39% 11%;
    --destructive: 0 80% 55%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 16%;
    --input: 0 0% 16%;
    --ring: 44 97% 52%;
    --chart-1: 44 97% 52%;
    --chart-2: 44 90% 62%;
    --chart-3: 213 100% 65%;
    --chart-4: 131 62% 58%;
    --chart-5: 340 75% 55%;
    --radius: 0.375rem;
    --sidebar-background: 0 0% 5%;
    --sidebar-foreground: 0 0% 95%;
    --sidebar-primary: 44 97% 52%;
    --sidebar-primary-foreground: 221 39% 11%;
    --sidebar-accent: 0 0% 16%;
    --sidebar-accent-foreground: 0 0% 95%;
    --sidebar-border: 0 0% 16%;
    --sidebar-ring: 44 97% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}